@import "~bootstrap/scss/bootstrap.scss";
/* Color Variables */
$dark-bg: #3b5249; // Dark Slate Gray
$med-bg: #519872; // Russian Green
$light-bg: #a4b494; // Laurel Green Medium
$dark-text: #34252f; // Black Coffee
$light-text: #bec5ad; // Laurel Green Light

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Source Sans Pro", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

@media (max-width: 767px) {
	.title-info {
		text-align: center;
		max-height: 170px !important;
	}
}

.app {
	background-color: $dark-bg;
	min-height: 100vh;
	color: white;
}

.title-info {
	max-width: 650px;
}

.main {
	max-width: 650px;
}

.info-icon {
	font-size: large;
	cursor: pointer;
	padding-left: 0.5rem;
}

.graph-container {
	margin-left: -50px;
	margin-top: 50px;
}

.tooltip-custom {
	background-color: #519872;
	border: 1px solid #999;
	margin: 0;
	padding: 10px;
}

.tooltip-country {
	font-size: larger;
}

.country-flag {
	margin-left: 10px;
}

/* Bootstrap overrides */

.card {
	background-color: inherit;
	border: none;
}

.card-header {
	background-color: inherit;
	border: none;
	padding: 0.75rem 0;
}

.card-body {
	padding: 0 1.25rem;
}

.stat-select, .year-select {
	color: $dark-text;
}

.control-label {
	font-size: larger;
	max-width: 150px;
}

.control-select {
	max-width: 450px;
}

.btn {
	&.btn-primary {
		background-color: $med-bg;
		border-color: $med-bg;
	}

	&.disabled,
	&:disabled {
		background-color: $light-text;
		border-color: $light-text;
		color: $med-bg;
		cursor: not-allowed;
		pointer-events: all !important;
	}
}

.btn-primary:hover,
.btn-primary.hover,
.btn:hover,
.btn.hover {
	box-shadow: none;
	background-color: $light-bg;
	border-color: $light-bg;
	color: $dark-text;
}
